body {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #e9eaf1;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #9bacb0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #999;
  color: rgb(139, 54, 158);
}

.cell:hover {
  background-color: #716777;
}

.setup {
  margin-bottom: 20px;
}

.setup input {
  margin: 0 10px;
}

#restart {
  margin-top: 20px;
}